body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: bisque;
    background-color: black;
    }

    h1{
        color: bisque;
    }
    h1>Capitulo 1</h1>
<h2>Capitulo 1.1</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Officiis itaque nemo deleniti libero est eligendi dignissimos quasi tempore laudantium fugiat nesciunt molestias hic, atque suscipit odio nulla quas in qui.</p>
<h2>Capitulo 1.2</h2>
<p>Lorem ipsum dolor sit amet consectetur adipis
icing elit. Asperiores voluptate minus fuga sint fugiat? Odio, officiis. Quis possimus ut est? Ex non delectus reiciendis deserunt consequuntur enim nihil in nemo.</p>

<h1>Capitulo 2</h1>
<h2>Capitulo 2.1</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit
. Nostrum voluptatum, provident itaque atque obcaecati dicta nihil at culpa doloremque cumque consequuntur ipsum optio, autem, quibusdam sed accusamus non laborum corporis.</p>
